{% extends 'layouts/_main.html.twig' %}

{% block title %}AccountingMonth index{% endblock %}

{% block main %}
    <h1>AccountingMonth index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Début</th>
                <th>FIn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accounting_month in accounting_months %}
            <tr>
                <td>{{ accounting_month.id }}</td>
                <td>{{ accounting_month.label }}</td>
                <td>{{ accounting_month.startAt ? accounting_month.startAt|date('d/m/Y') : '' }}</td>
                <td>{{ accounting_month.endAt ? accounting_month.endAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_accounting_month_show', {'id': accounting_month.id}) }}">Voir</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_accounting_month_edit', {'id': accounting_month.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_accounting_year_month_new', {id: accounting_year.id}) }}">Nouveau</a>
    <a class="btn btn-primary" href="{{ path('app_accounting_year_index') }}">Retour</a>
{% endblock %}
