{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="hstack">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        <a class="btn btn-primary" href="{{ path('app_accounting_year_month_show', {id:accounting_year.id}) }}">Retour</a>
    </div>
{{ form_end(form) }}
