<tr class="row">
    <td class="col-md-1">
        {{ form_row(itemForm.date, {
            label: false,
            row_attr: {class: 'mb-1'},
            attr: {
            }
        }) }}
    </td>
    <td class="col-1">
        <div class="input-group">
                <input
            name="{{ field_name(itemForm.amount) }}"
            value="{{ field_value(itemForm.amount) }}"
            class="form-control text-end"
        >
            <div class="input-group-text">€</div>
        </div>
            {{form_errors(itemForm.amount)}}
        <div id="validationServer03Feedback" class="invalid-feedback">
        </div>

            {# {{ form_row(itemForm.amount, {
                label: false,
                row_attr: {class: 'mb-1'},
                attr: {
                }
            }) }} #}
    </td>
    <td class="col-md-4">
        {{ form_row(itemForm.label, {
            label: false,
            row_attr: {class: 'mb-1'},
            attr: {
                placeholder: 'Libellé'
            }
        }) }}
    </td>
    {# <td class="col-md-2">
        {{ form_row(itemForm.description, {
            label: false,
            row_attr: {class: 'mb-1'},
            attr: {
                placeholder: 'Walk the pygmy hippo'
            }
        }) }}
    </td> #}
    <td class="col-md-2">
        {{ form_row(itemForm.accountingCategory, {
            label: false,
            row_attr: {class: 'mb-1'},
            attr: {
                placeholder: 'Walk the pygmy hippo'
            }
        }) }}
    </td>
    <td class="col-md-3">
        {{ form_row(itemForm.accountingTags, {
            label: false,
            row_attr: {class: 'mb-1'},
            attr: {
            }
        }) }}
    </td>
    <td class="col-md-1"> 
        {{ form_row(itemForm.vars.button_delete, {label: 'X', attr: {class: 'btn btn-outline-danger'}}) }}
    </td>
</tr>