<div
    {{ attributes }}
>

    {# {{ dump(form.vars.name) }} #}

    {{ form_start(form) }}
        <table class="table table-borderless form-no-mb">
            <thead>
                <tr class="row">
                    <th class="col-md-2" >Date</th>
                    <th class="col-md-1" >Valeur</th>
                    <th class="col-md-4" >Libellé</th>
                    <th class="col-md-2" >Catégorie</th>
                    <th class="col-md-2" >Etiquettes</th>
                    <th class="col-md-1" ></th>
                </tr>
            </thead>
            <tbody>
            {% if form.vars.name == "outcome" %}
                {% for key, itemForm in form.outcomes %}
                    {% include 'accounting_entry/form/_entry_form.html.twig' with {itemForm} %}
                {% endfor %}
            {% else %}
                {% for key, itemForm in form.incomes %}
                    {% include 'accounting_entry/form/_entry_form.html.twig' with {itemForm} %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
            {% if form.vars.name == "outcome" %}
                {{ form_widget(form.outcomes.vars.button_add, {label: '+ Add Item', attr: {class: 'btn btn-outline-primary'}}) }}

            {% else %}
                {{ form_widget(form.incomes.vars.button_add, {label: '+ Add Item', attr: {class: 'btn btn-outline-primary'}}) }}

            {% endif %}
        <button type="submit" class="btn btn-success" formnovalidate>Save</button>
    {{ form_end(form) }}
</div>